/*flex start*/

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
}

.line-height-3 {
    line-height: 3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bgPic {
    background-size: cover;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-position: center;
}

.media {
    margin-top: 15px;
}

.media:first-child {
    margin-top: 0;
}

.media,
.media-body {
    zoom: 1;
    overflow: hidden;
}

.media-body {
    width: 10000px;
}

.media-object {
    display: block;
}

.media-object.img-thumbnail {
    max-width: none;
}

.media-right,
.media>.pull-right {
    padding-left: 10px;
}

.media-left,
.media>.pull-left {
    padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-middle {
    vertical-align: middle;
}

.media-bottom {
    vertical-align: bottom;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.media-list {
    padding-left: 0;
    list-style: none;
}


/*flex end*/


/*element*/

.p0 {
    padding: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.p075 {
    padding: 0.75rem !important;
}

.pt075 {
    padding-top: 0.75rem !important;
}

.pr075 {
    padding-right: 0.75rem !important;
}

.pb075 {
    padding-bottom: 0.75rem !important;
}

.pl075 {
    padding-left: 0.75rem !important;
}

.m0 {
    margin: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.m075 {
    margin: 0.75rem !important;
}

.mt075 {
    margin-top: 0.75rem !important;
}

.mr075 {
    margin-right: 0.75rem !important;
}

.mb075 {
    margin-bottom: 0.75rem !important;
}

.ml075 {
    margin-left: 0.75rem !important;
}

.m0a {
    margin: 0 auto !important;
}

.color-default {
    color: #3d4145;
}

.color-white {
    color: #FFF !important;
}

.color-gray {
    color: #777;
}

.color-6691b3 {
    color: #6691b3 !important;
}

.bg-6691b3 {
    background-color: #6691b3 !important;
    color: #F2F2F2 !important;
}

.color-494b6d {
    color: #494b6d !important;
}

.bg-494b6d {
    background-color: #494b6d !important;
    color: #F2F2F2 !important;
}

.bg-gray {
    background-color: #CCC !important;
    color: #F2F2F2 !important;
}

.color-primary {
    color: #E55A5F !important
}

.bg-normal {
    background-color: #fff !important;
    color: #000 !important;
}

.error {
    background: lightpink !important;
}

.bg-primary {
    background-color: #E55A5F !important;
    color: #F2F2F2 !important;
}

.bg-263846 {
    background-color: #263846 !important;
    color: #F2F2F2 !important;
}

.bg-white {
    background-color: white !important;
}

.bg-white-263846 {
    background-color: #263846 !important;
    color: white !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.color-info {
    color: #52b3ff;
}

.color-success {
    color: #4cd964;
}

.color-danger {
    color: #f6383a;
}

.color-warning {
    color: #FFBB01;
}

.bg-success {
    background-color: #4cd964 !important;
    color: #F2F2F2 !important;
}

.bg-warning {
    background-color: #FFBB01 !important;
    color: #F2F2F2 !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.shadowNone {
    box-shadow: none !important;
}

.v-h {
    visibility: hidden;
}

.v-v {
    visibility: visible;
}

.d-n {
    display: none !important;
}

.d-i {
    display: inline !important;
}

.d-b {
    display: block !important;
}

.d-ib {
    display: inline-block;
}

.d-f {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.d-g {
    display: -ms-grid;
    display: grid;
}

.d-li {
    display: list-item;
}

.w100p {
    width: 100%;
}

.redPoint {
    background: #E55A5F;
    width: 0.6rem;
    height: 0.6rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 55%;
    top: 10%;
    z-index: 20;
}


/*element end*/

.pull-left.iconfont.icon-back.color-white.mui-action-back {
    width: 2rem;
    margin-left: -0.65rem;
    text-align: center;
}

header .title {
    z-index: -1;
    text-align: left;
    padding-left: 0.75rem;
    font-size: 0.8rem;
}

header .title span {
    line-height: 2.2rem;
    display: inline-block;
}

.pull-left.iconfont.icon-back.color-white.mui-action-back {
    line-height: 2.2rem;
    padding: 0;
}

.pull-left.iconfont~.title {
    padding-left: 2rem;
}

.empty-msg {
    text-align: center;
    padding: 10%;
    background: #fff;
}

.mui-input-group .input-error,
.item-content.input-error {
    background: #FFDFDF;
}


/*.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
	color: #fff;
	background-color: #f3f3f3;
	border-color: #ddd;
}

dl,
dt,
dd {
	margin: 0;
	padding: 0;
}*/

.info .list-item span {
    float: right;
}

.btn-action {
    background: #E55A5E;
    border: 1px solid #E55A5E;
    color: #fff;
}

.btn-action-reverse {
    border: 1px solid #e55a5e;
    color: #e55a5e;
}

.btn-action-reverse:active {
    background: #FFF8F8;
    border-color: #FFD8D9;
}

.btn-disabled {
    background: #efefef;
    color: #ccc;
    border: 1px solid #ccc;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}


/*
nav.is-main-bg-color,
.nav.is-main-bg-color {
	background-color: #E55A5E;
	position: fixed;
	width: 100%;
	top: 0;
	min-height: 45px;
}

nav h3 {
	font-size: 17px;
}

.is-main-bg-color .nav-item a,
.is-main-bg-color a.nav-item {
	color: white;
}

nav~.mui-content {
	padding-top: 45px;
}*/

.nprogress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 10600;
    visibility: visible;
    opacity: 1;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.nothing {
    width: 100%;
    height: 6rem;
    background: white;
    text-align: center;
    line-height: 6rem;
}


/*.modal-no-buttons .modal-inner {
    display: none;
}

.modal-overlay.modal-overlay-visible {
    opacity: 0;
}*/

.list-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFF;
    margin: 0.45rem 0;
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
}

.card-content-inner {
    padding: 0.2rem 0.75rem;
    position: relative;
}

.card-footer {
    border-radius: 0 0 0.1rem 0.1rem;
    color: #aaa;
    min-height: 1.8rem;
    padding: 0.2rem 0.75rem;
}

#footer.bar-tab .tab-item .iconfont~.tab-label {
    line-height: 1;
}

.list-block .col-20 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #FFF;
    width: 24%;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.iconfont.icon-tubiao210 {
    font-size: 1.2rem;
    height: 2.2rem;
    width: 2.2rem;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 2.2rem;
    background-color: #e55a5f;
}

.iconfont.icon-tubiao210.small {
    font-size: 0.6rem;
    height: 1.1rem;
    width: 1.1rem;
    line-height: 1rem;
    color: #e55a5f;
    margin: 0 0.4rem 0 0;
    border: 1px solid #e55a5f;
    background-color: #FFF;
}

.popup .content-block {
    margin: 1rem 0;
}

.popup .history-tags .button {
    display: inline-block;
    background-color: #ccc;
    color: #888;
    margin: 0.5rem 0.2rem;
    max-width: 6rem;
    overflow: hidden;
}

.bar:after {
    content: initial;
}

.picker-items-col,
.width-90 {
    width: 90%;
}

.flex-4 {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.bar.bar-nav.bg-263846 {
    overflow: hidden;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 2;
}

.loader {
    margin: -1.5rem auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.4rem solid rgba(229, 90, 95, 0.2);
    border-right: 0.4rem solid rgba(229, 90, 95, 0.2);
    border-bottom: 0.4rem solid rgba(229, 90, 95, 0.2);
    border-left: 0.4rem solid #E55A5F;
    -webkit-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear;
    top: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*bulma*/

.border-radius-8 {
    border-radius: 8px;
}

.mui-slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: 0;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}

.mui-slider .mui-slider-group {
    font-size: 0;
    position: relative;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    white-space: nowrap;
}

.mui-slider .mui-slider-group .mui-slider-item {
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal;
}

.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
    line-height: 0;
    position: relative;
    display: block;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before,
.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after {
    height: 0;
}

.mui-slider .mui-slider-group.mui-slider-loop {
    -webkit-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
}

.mui-slider-title {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    text-align: left;
    text-indent: 12px;
    opacity: .8;
    background-color: #000;
}

.mui-slider-indicator {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: none;
}

.mui-slider-indicator.mui-segmented-control {
    position: relative;
    bottom: auto;
}

.mui-slider-indicator .mui-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px 6px;
    cursor: pointer;
    border-radius: 50%;
    background: #aaa;
    -webkit-box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
    box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
}

.mui-slider-indicator .mui-active.mui-indicator {
    background: #fff;
}

.mui-slider-indicator .mui-icon {
    font-size: 20px;
    line-height: 30px;
    width: 40px;
    height: 30px;
    margin: 3px;
    text-align: center;
    border: 1px solid #ddd;
}

.mui-slider-indicator .mui-number {
    line-height: 32px;
    display: inline-block;
    width: 58px;
}

.mui-slider-indicator .mui-number span {
    color: #ff5053;
}

.mui-slider-progress-bar {
    z-index: 1;
    height: 2px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.mui-fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mui-fullscreen.mui-slider .mui-slider-group {
    height: 100%;
}

.mui-fullscreen .mui-segmented-control~.mui-slider-group {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    height: auto;
}

.mui-fullscreen.mui-slider .mui-slider-item>a {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mui-fullscreen .mui-off-canvas-wrap .mui-slider-item>a {
    top: auto;
    -webkit-transform: none;
    transform: none;
}

.mui-bar-nav~.mui-content .mui-slider.mui-fullscreen {
    top: 44px;
}

.mui-bar-tab~.mui-content .mui-slider.mui-fullscreen .mui-segmented-control~.mui-slider-group {
    bottom: 50px;
}

.mui-fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mui-fullscreen.mui-slider .mui-slider-group {
    height: 100%;
}

.mui-fullscreen .mui-segmented-control~.mui-slider-group {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    height: auto;
}

.mui-fullscreen.mui-slider .mui-slider-item>a {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mui-fullscreen .mui-off-canvas-wrap .mui-slider-item>a {
    top: auto;
    -webkit-transform: none;
    transform: none;
}

.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 2000;
    background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.mui-preview-header {
    height: 44px;
    top: 0;
}

.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}

.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}

.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}

.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}

.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.mui-preview-loading.mui-active {
    display: block;
}

.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}

.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

p img {
    max-width: 100%;
    height: auto;
}

.mui-zoom-wrapper.mui-active {
    background: black;
    z-index: 1;
}


/* Make clicks pass-through */

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    box-shadow: none;
}


/* Fancy blur effect */

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}


/* Remove these to get rid of the spinner */

#nprogress .spinner {
    display: block;
    position: fixed;
    /*z-index: 2000;*/
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bar-tab .tab-item .badge {
    height: .8rem;
    min-width: .8rem;
    line-height: .8rem;
    top: .4rem;
    left: 55%;
}

.hide {
    display: none !important;
}
div.popup-app{
    position: absolute;
    width: 13.5rem;
    left: 50%;
    top: 50%;
    margin-left: -6.75rem;
    z-index: 9999;
    background-color: #ffffff;
    font-size: 0.7rem;
    padding: 0 0.5rem;
    border-radius: 0.2rem;
}
div.popup-app img{
    width: 100%;
}
.popup-icon-close{
    position: absolute;
    right: 0;
    padding: 0.2rem 0.5rem 0.2rem 1.2rem;
    color: #e55a5f;
    font-size: 0.9rem;
}
div.popup-app-title,div.popup-app-operation{
    text-align: center;
}
div.popup-app-title{
    padding: 0.55rem 0 0;
    margin: 0 -0.5rem 0.5rem;
}
div.popup-app-operation a.popup-btn{
    padding: 0.4rem 1.8rem;
    background-color: #e55a5f;
    color: #fff;
    border-radius: 0.2rem;
}
div.popup-app-operation{
    margin: 0 -0.5rem 0;
    padding: 0.3rem 0;
}
div.popup-app-operation a.popup-btn.cancel{
    background-color: #c1c1c1;
}
div.popup-app-operation a.popup-btn:first-child{
    margin-right: 0.5rem;
}
div.popup-mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    visibility: visible;
    opacity: 1;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
div.errorMsg{
    text-align: center;
    color: red;
    display: none;
}

.input-plate{
    display: inline-block;
    width: 100%;
    border-radius: .2rem;
    border: 1px solid #c1c1c1;
    height: 1.8rem;
}

.input-plate span {
    display: inline-block;
    width: 14%;
    border-left: 1px solid #c1c1c1;
    text-align: center;
    line-height: 1.75rem;
    height: 100%;
    float: left;
}

.input-plate span:first-child {
    border-left: 0;
}
.selected-box span {
    width: 16.6666%;
    display: inline-block;
    text-align: center;
    height: 1.9rem;
    line-height: 1.9rem;
    margin: 0.1rem 0;
    border-radius: 50%;
}
.selected-box span:active{
    background-color: #e55a5f;
    color: #fff;
}
.back-delete{
    position: absolute;
    right: 0.8rem;
    width: 16.6666%;
    text-align: center;
    height: 1.9rem;
    line-height: 2.6rem;
    font-size: 1.6rem;
}

div.plate.popup-app div.popup-app-title{
    border-bottom: 1px solid #c1c1c1;
    padding: 0.45rem 0;
}
div.popup-app.plate{
    width: 90%;
}


.note-tip{
    text-align: center;
}