<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<link href="../../css/swiper.min.css" rel="stylesheet" />
	<link href="../../css/flex.css" rel="stylesheet" />
	<link href="../../css/sm.css" rel="stylesheet" />
	<link href="../../fonts/iconfont.css" rel="stylesheet" />
	<link href="../../css/app/common.css" rel="stylesheet" />
</head>
<style>
	.menu-line {
		position: relative;
		background-color: white;
		padding-top: 2%;
		padding-left: 1%;
	}

	.menu-line i {
		font-size: 1.6rem;
	}

	.menu-line-item-right .color-gray {
		font-size: 0.6rem;
	}

	.card.bg-paragraph {
		margin: 2% 0px;
		height: 36%;
		background: url(../../img/paragraph.png) #FFF no-repeat;
		background-size: 85%;
		background-position: 50% 65%;
		background-origin: border-box;
	}

	.card.bg-paragraph.bg-white,
	.menu-line-item.media-paragraph.bg-white {
		background: #FFF;
	}

	.menu-line-item.media-paragraph {
		background: url(../../img/media-paragraph.png) #FFF no-repeat;
		background-size: 80%;
		background-position: center center;
	}

	.card-content-inner {
		line-height: 0.8rem;
		padding: 0rem 0.75rem;
		font-size: 0.8rem;
		white-space: nowrap;
		min-height: 1.2rem;
		line-height: 1.2rem;
		height: auto !important;
	}

	.card-content-inner span.circleWord {
		width: 1rem;
		height: 1rem;
		line-height: 1.1rem;
		border-radius: 50%;
		font-size: 0.6rem;
		display: inline-block;
		text-align: center;
		margin-right: 0.5rem;
		background-color: #6691b3;
		color: white;
		padding: 0 0.2rem;
	}

	.menu-line-item {
		display: inline-block;
		width: 48%;
		border-radius: 0.2rem;
		border: 1px solid transparent;
		margin-left: 1%;
		padding: 1.5% 0;
		height: 45%;
	}

	.menu-line-item-left,
	.menu-line-item-right {
		display: table-cell;
		vertical-align: middle;
	}

	.menu-line-item-left {
		min-width: 2.2rem;
	}

	.menu-line-item-right {
		width: 100%;
	}

	.b-primary {
		border-color: #E55A5F !important
	}

	.b-gray {
		border-color: #CCC !important
	}

	.swiper-slide {
		background-size: cover;
		background-position: center center;
		display: none;
	}

	.swiper-wrapper {
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #bcbec0;
		text-align: center;
		font-size: 4rem;
		color: #e7e8e9;
		line-height: 1;
	}

	.swiper-wrapper:before {
		width: 100%;
		margin-top: -2rem;
		top: 50%;
		position: relative;
		/*content: inherit;*/
	}

	.content-inherit:before {
		content: '' !important;
	}

	.card-content,
	h1.color-gray,
	.card-footer {
		display: none;
	}
	.swiper-wrapper-bidding{
		color:#000000;
		font-weight:normal;
		line-height:1.2rem;
		font-size: 0.8rem;
		background-color: #FFFFFF;
		text-align: left;
	}

</style>

<body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav bg-263846" style="box-shadow: none;">
			<h1 class="title" v-text="pageTitle"></h1>
		</header>

		<div class="content pull-to-refresh-content infinite-scroll">
			<div class="pull-to-refresh-layer">
				<div class="preloader"></div>
				<div class="pull-to-refresh-arrow"></div>
			</div>
			<div style="height: 25%;" class="menu-line p0">
				<div class="swiper-container swiper-container-horizontal" style="height: 100%;">
					<div class="swiper-wrapper icon-image iconfont" :class="{'content-inherit': true}">
						<div v-for="banner in banners" v-if="banner.enabled" popup :data-title="banner.dataTitle" :data-detail="banner.dataDetail" class="swiper-slide" :class="[{'swiper-slide-active': banner.active}, {'d-b': true}]" :style="{backgroundImage: 'url('+(banner.img||'')+')' }">
						</div>
					</div>
				</div>
			</div>
			<div class="card bg-paragraph" :class="{'bg-white': true}" flex="dir:top" style="margin:2% 0; height:36%;">
				<div class="card-header" style=" font-size: 0.6rem; padding: 0.2rem 0.75rem; min-height: 1.8rem;">
					<a href="#" class="link color-494b6d">
						<i class="iconfont icon-renwu1" style="color:#efb585; margin-right: 0.75rem;"></i> 当前任务
					</a>
					<a href="#" class="link color-info" es-href="task-list">
						查看更多任务
					</a>
				</div>

				<div v-if="appDto.biddingData"  class="swiper-container-bidding swiper-container-horizontal" style="height: 100%;display: none;">
					<div class="swiper-wrapper swiper-wrapper-bidding" @click="toFindTab()">
						<div v-for="item in appDto.biddingData" style="position: relative; height: 100%;padding: 0.5rem 1rem; display: block; " class="swiper-slide">
							<div v-text="item.pricing" style="position: absolute; right: 0.2rem; font-size: 1rem; color: #E55A5E;"></div>
							<div v-text="item.title"></div>
							<div v-text="item.content"></div>
							<div>结账地址：<span  v-text="item.billAddress"></span></div>
							<div>结账日期：<span v-text="item.billData"></span></div>
						</div>
					</div>
				</div>
				<div v-else-if="appDto.orderContainerDto" class="card-content ml0 mr0" :flex-box="'1'" :flex="'dir:left'" @click="toDetail()">
					<div flex-box="1" flex="dir:top" style="overflow-y: auto;" class="js-detail">
						<div class="card-content-inner" flex="cross:center">
							<span v-text="appDto.orderContainerDto.date"></span>
							<span v-text="appDto.orderContainerDto.containerSize?'/'+appDto.orderContainerDto.containerSize:''"></span>
							<span v-text="appDto.orderContainerDto.weight?'/'+(appDto.orderContainerDto.weight/1000)+'吨':''"></span>
						</div>
						<div class="card-content-inner" flex="cross:center" v-if="appDto.orderContainerDto.doorAddress">
							<div style="text-overflow:ellipsis;">
								<span style="text-overflow:ellipsis;" v-text="appDto.orderContainerDto.doorAddress"></span>
							</div>
						</div>
						<div class="card-content-inner" flex="cross:center">
							<div style="text-overflow:ellipsis;">
								<span style="text-overflow:ellipsis;" v-text="appDto.orderContainerDto.containerText"></span>
							</div>
						</div>
						<div class="card-content-inner" flex="cross:center box:first"><span>结账地址：</span><span style="text-overflow:ellipsis;" v-text="appDto.orderContainerDto.billAddress"></span></div>
						<div class="card-content-inner" flex="cross:center box:first"><span>结账日期：</span>
							<span style="text-overflow:ellipsis;" v-text="appDto.orderContainerDto.settlementDate"></span>
							<span class="color-primary" style="text-overflow:ellipsis;" v-text="appDto.orderContainerDto.billContactPhone"></span>
							<span style="text-overflow:ellipsis;" v-text="appDto.orderContainerDto.billContactPerson"></span>
						</div>
						<!--<div v-if="appDto.orderContainerDto.portDistrict" class="card-content-inner" flex="cross:center box:first"><span class="circleWord" v-text="appDto.orderContainerDto.containerText"></span> <span style="text-overflow:ellipsis;" v-text="appDto.orderContainerDto.portDistrict"></span></div>-->
					</div>
					<div flex="cross:center">
						<i class="iconfont icon-more" style="font-size: 1.5rem; color:#aaa;"></i>
					</div>
				</div>
				<h1 v-else :flex="'main:center cross:center'" :flex-box="'1'" class="color-gray" style="font-size: 1.2rem;"  @click="toDetail()">暂无任务</h1>
				<div v-if="appDto.orderContainerDto" :flex="'dir:left'" class="card-footer" style="font-size: 0.6rem">
					<div>
						<span class="color-primary" style="font-size: 0.9rem;" v-text="appDto.orderContainerDto.totalCost"></span> 元
					</div>
					<span>
								[信誉接单,准时结账]
							</span>
				</div>
			</div>
			<div class="menu-line" style="height: 28%;">
				<div v-for="menu in menus" class="menu-line-item media-paragraph" :es-href="menu.enabled?menu.href:''" :class="[{'b-primary bg-white':menu.enabled}, {'b-gray disabled bg-white':!menu.enabled}]">
					<div class="menu-line-item-left text-right"><i style="font-size: 1.2rem;" class="iconfont" :class="[menu.icon, {'color-primary':menu.enabled}, {'color-gray d-i':!menu.enabled}]"></i></div>
					<div class="menu-line-item-right pr075" style="max-width:6.2rem">
						<div class="text-center"><span v-text="menu.text"></span></div>
						<div class="text-center"><span class="color-gray" :class="{'d-i': true}" v-text="menu.des"></span></div>
					</div>
				</div>
				<div class="menu-line-item media-paragraph" :class="{'d-n': true}">
				</div>
				<div class="menu-line-item media-paragraph" :class="{'d-n': true}">
				</div>
				<div class="menu-line-item media-paragraph" :class="{'d-n': true}">
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../js/lodash.js"></script>
<script src="../../js/libs/vue.min.js"></script>
<script src="../../js/sm.js"></script>
<script src="../../js/mui.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/i18n.js"></script>
<script src="../../js/handlebars.min.js"></script>
<script src="../../js/util/swiper.jquery.min.js"></script>

<script type="text/javascript">
	window.app.ready(function(mui) {
		this.pageConfig = {
			"SENDORDER_RECEIVE":{
				isReceive: true
			},
			"CONTAINER_ACCEPTED":{
				isPublish: true
			},
			"SENDORDER_VIEW":{
				isView: true
			},
			mySwiperInit: true
		};
		app.LocationManager()
		app.quitApp();
		app.customBack = mui.back
		mui.back = function() {
			var visible = $('.popup').css('display')
			if (visible === 'block') {
				$.closeModal('.popup');
			} else {
				app.customBack();
			}
		};
		var loadRemind = function(){
			app.ajaxGet("/home/event",{},function(res){
				console.log(JSON.stringify(res));
				if(res.imgUrl && res.imgUrl != ""){
					app.appConfirm({
						isDisplaySubmit: false,
						isDisplayCancel: false,
						confirmContent: "<a href='"+res.linkUrl+"'><img src='"+res.imgUrl+"'/></a>",
						isLoadinig:true,
						isCloseIcon: true
					})
				}
			});
		}

		var queryOneContainerOrder = function() {
			var self = this;
			app.ajaxGetNeedLogin('/queryOneContainerOrder', {}, function(res) {
				function getDate(strDate) {
					var st = strDate;
					var a = st.split(" ");
					var b = a[0].split("-");

					var c = a.length > 1 ? a[1].split(":") : "";
					var date = new Date(b[0], b[1] - 1, b[2], c[0], c[1], c[2]);
					return date;
				}
				if (res.orderContainerDto) {
					if (res.orderContainerDto.date && res.orderContainerDto.date.length > 15) {
						var date = new Date(getDate(res.orderContainerDto.date));
						var weekday = new Array(7);
						weekday[0] = "周日";
						weekday[1] = "周一";
						weekday[2] = "周二";
						weekday[3] = "周三";
						weekday[4] = "周四";
						weekday[5] = "周五";
						weekday[6] = "周六";

						var time = date.getMonth() + 1 + "月" + date.getDate() + "日" + "(" + weekday[date.getDay()] + ")/" + date.getHours() + "点"
						res.orderContainerDto.date = time;
						var settlement = date.setDate(date.getDate() + (7 - (date.getDay() || 7) + 12));
						var settlementDay = new Date(settlement);
						var settlementDate = settlementDay.getMonth() + 1 + "月" + settlementDay.getDate() + "日";

						res.orderContainerDto.settlementDate = settlementDate
					}
					res.orderContainerDto.containerText = res.orderContainerDto.containerType === "IB" ? (res.orderContainerDto.portDistrict || "") + " 提" : "进 " + (res.orderContainerDto.portDistrict || "")
				}
				app.ajaxGetNeedLogin("/querySendOrder",{
					page:1,
					pageSize: 5
				},function(data){
					console.log(JSON.stringify(data));
					var showDate = [];
					_.each(data.sendOrderDto,function (v,k) {
						var statusCode = v.containerStatusCode;
						if(v.orderDriverId != v.loginDriverId && v.containerStatusCode == "CONTAINER_DISPATCHED"){
							statusCode = "SENDORDER_RECEIVE";
						}else if(v.orderDriverId == v.loginDriverId && v.containerStatusCode == "CONTAINER_DISPATCHED"){
							statusCode = "SENDORDER_VIEW";
						}
						data.sendOrderDto[k] = _.merge(v,app.pageConfig[statusCode]);
						var containerSize = parseInt(v.containerSize) > 20 ? "大箱" : "小箱",
								planArrivalTime = app.correctDate(v.planArrivalTime,"ready"),
								portDistrict = v.portDistrict || "",
								doorArea = v.doorArea || "",
								weight = v.weight || "";
						if(v.orderType == "出口"){
							portDistrict = "进" + portDistrict;
						}else{
							portDistrict = portDistrict + "提";
						}
						var planDate = new Date(v.planArrivalTime.replace(/-/g,"/")),
								planW = planDate.getDay() == 0 ? 7 : planDate.getDay(),
								billTime = (7 - planW + 12) * 86400000 + planDate.getTime(),
								billData = new Date(billTime),
								billM = billData.getMonth() + 1,
								billD = billData.getDate(),
								billDateTime = (billM > 9 ? billM : "0" + billM) + "月" + (billD > 9 ? billD : "0" + billD) + "日";
						var dataShow = {
							"title": planArrivalTime + "/" + containerSize + "/" + weight,
							"content": doorArea + ", " + portDistrict,
							"pricing": v.pricing || "",
							"billAddress": v.billAddress || "",
							"billContactPerson": v.billContactPerson || "",
							"billContactPhone": v.billContactPhone || "",
							"billData": billDateTime,
							"containerId": v.containerId || 0,
							"planArrivalTime": app.correctDate(v.planArrivalTime,"isNotHour"),
							"acceptOrderTime": v.acceptOrderTime
						};
						data = _.merge(data,app.pageConfig[statusCode]);
						if(v.sendOrderRemark){
							data.sendOrderRemark = v.sendOrderRemark;
							data.isExistSendOrderRemark = true;
						}
						showDate.push(dataShow);
					});
					self.appDto = res;
					if(showDate.length > 0 && !res.orderContainerDto){
						self.appDto.biddingData = showDate;
					}
					self.$nextTick(function() {
						$(".js-detail").removeAttr("style");
						$(".js-detail").attr("style","overflow-y:auto;");
						if(app.mySwiper && app.pageConfig.mySwiperInit){
							app.mySwiper.destroy(true);
							app.pageConfig.mySwiperInit = false;
						}
						if(self.appDto.biddingData && self.appDto.biddingData.length >0){
							$(".swiper-container-bidding").show();
							app.mySwiper = new Swiper('.swiper-container-bidding',{
								autoplay : 5000,
								direction : 'vertical'
							});
							app.mySwiper.init();
							app.pageConfig.mySwiperInit = true;
						}
					})
				});

			})
		}

		var toDetail = function() {
			app.toH5("task-detail",{
				extras:{
					containerIds: 888
				}
			})
		}

		var toFindTab = function(){
			var toPage = plus.webview.getWebviewById(plus.runtime.appid)
			mui.fire(toPage, 'switchTabFire', {
				pageId: "find-tab"
			});
		}

		var homeBanner = function(cb) {
			var self = this;
			app.ajaxGetNeedLogin('/home/config', {}, function(res) {
				console.log(JSON.stringify(res))
				var arr = []
				$.each(res.banners, function(index, item, array) {
					item.img = app.serverRoot + "/m/f-driver" + item.img
					arr.push(item)
				})

				self.$set(self.$data, "banners", arr);
				self.$set(self.$data, "menus", res.menus);
				self.$nextTick(function() {
					if(app.swiper){
						app.swiper.destroy(false);
					}
					if(!app.swiper){
						app.swiper = new Swiper('.swiper-container', {
							autoplay: 3000
						});
					}else{
						app.swiper.init();
					}
					if(cb) {
						cb()
					}
				})
			})
		}

		var vm = new Vue({
			el: ".page",
			data: {
				pageTitle: "未来司机",
				banners: [],
				menus: [],
				appDto: {
					"orderContainerDto": null
				}
			},
			mounted: function() {
				var self = this;
				$.init();
				self.homeBanner();
				self.queryOneContainerOrder();
				if(window.app.refresh) {
					window.app.refresh(function() {
						self.queryOneContainerOrder();
						self.homeBanner();
						mui.fire(plus.webview.getWebviewById(plus.runtime.appid), 'refreshNavFire');
					});
				}
				self.loadRemind();
			},
			methods: {
				toDetail: toDetail,
				queryOneContainerOrder: queryOneContainerOrder,
				homeBanner: homeBanner,
				loadRemind: loadRemind,
				toFindTab: toFindTab
			}
		})

		window.addEventListener('refreshFire', function(event) {
			$.closeModal('.popup');
			app.checkForUpdates(function(){
				vm.queryOneContainerOrder();
				vm.homeBanner();
			})
		});
	})
</script>
</body>

</html>